.form-control{
	width:73%;
}
.form-group{
	margin-right: 10px;
}
form,table{
	margin:15px;
}
.row{
	margin-right:0;
	margin-left:0;
}
.checkbox-inline, .radio-inline{
	vertical-align: text-top;
}

.navbar-default {
    background-color: #74a5ce;
    border-color: #ffffff;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f7f7f7;
    }

 .form-horizontal .has-feedback .form-control-feedback {
     right: auto;
    left: 63%;
}
.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 27px;
    padding-right: 23px;
}
/*user-defined*/
.chart-container-big{
	width:500px;
	height:500px;
	border:1px solid red;
}
.form-control-list{
	border:none;width: auto;box-shadow: none;
}
highchart {
  display: block;
  width: 100%;
  max-width: 100%;
}
.page-list{
	text-align: center;
}

.navbar-default .navbar-nav>li>a.navActive{
	    font-weight: bold;
}
.dropdown-menu>li>a.navActive{
	    font-weight: bold;
	    color:red
	  /*  display: none;*/
}
