<table class="table table-hover table-condensed table-striped">
	<thead> 
		<tr class='info'>
			<td  ng-repeat="(key, value) in tableV.head">{{value}}</td>  
		</tr>
	</thead> 
	<tbody > 
	
		<tr ng-class="{even:'warning',odd:'success'}"  ng-repeat="(key, value) in tableV.body">
			
			<!--<td >{{key}}-{{value}}</td> --> 
			<td   ng-repeat="k in value track by $index">{{k}}</td>
		</tr>
	</tbody>
</table>
<!--<nav aria-label="Page navigation" style='  text-align: center'>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>-->
	<pagination conf=paginationConf></pagination>
